build/
cmake-build-*/

.conan/
.conan2/

.idea/
*.cmake
*.cmake.*

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

.venv/

CMakeUserPresets.json
